<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />

    <staticContent>
      <remove fileExtension=".txt"/>
      <remove fileExtension=".vtt"/>
      <remove fileExtension=".srt"/>
      <remove fileExtension=".aac"/>
      <remove fileExtension=".oga"/>
      <remove fileExtension=".mp4"/>
      <remove fileExtension=".webm"/>
      <remove fileExtension=".ogv"/>
      <remove fileExtension=".ogg"/>
      <remove fileExtension=".m4a"/>
      <remove fileExtension=".mp3"/>
      <remove fileExtension=".flv"/>
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
      <mimeMap fileExtension=".vtt" mimeType="text/vtt" />
      <mimeMap fileExtension=".srt" mimeType="text/srt" />
      <mimeMap fileExtension=".aac" mimeType="audio/aac" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogv" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".m4a" mimeType="video/mp4" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
    </staticContent>
  </system.webServer>
</configuration>
